body{
	font-family: 'PT Sans Narrow','Arial', sans-serif;
	font-weight: 700;
	font-size:14px;
	text-transform: uppercase;
	color:#ffffff;
	background: #000000 url("../img/background.png") no-repeat center top;
}
.main-header{
	min-height:70px; 
	color:#ffffff;
	background: #000000;
}
.main-menu{
	width: 780px;
	float: left;
}
.main-menu ul{
margin:0;
padding:0;
list-style:none;
font-size:0;
}
.main-menu li{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;

}
.main-menu a{
	display: block;
	color:#ffffff;
	text-decoration: none;
	padding: 25px 20px;
}

.main-menu a:hover{
	background: #242424;
}
.container{
	width:940px;
	margin:0 auto;
	margin-bottom: 56px;
	padding-left: 10px;
	padding-right: 10px;
	border:0px solid transparent;
}



.user-block{
	position: relative;
	max-width: 140px;
	float:right;
}

.login{
	display: inline-block;
	vertical-align: top;
	padding: 25px 20px;
	padding-left: 50px;
	font-size: 16px;
	line-height: 20px;
	text-decoration:none;
	color: #ffffff;
}

.login::before{
	content:"";	
	position: absolute;
	top:28px;
	left:20px;
	width: 18px;
	height:18px;
	background: url('../img/spritesheet.png');
	background-position: -15px -15px;
	opacity: 0.3;
}

.login:hover::before{
	opacity: 1;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.index-logo{
	width:368px;
	height:204px;
	margin:0 auto;
	margin-bottom:30px;
}


.features{
	margin-bottom: 50px;
}

.features-item{
	float:left;
	width: 300px;
	min-height: 230px;
	margin-right: 20px;
	text-align: center;
}

.features-item b{
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 45px;
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 36px;
}

.features-name::before{
	content:"";
	position: absolute;
	
	bottom:0;
	left:50%;
	margin-left:-10px;
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
	background: white;
}

.features-item p {
	margin-left: 20px;
	margin-right: 20px;
	font-size: 14px;
	line-height: 24px;
}
.features-item:last-child{
	margin-right: 0px;
}

.index-content{
	background: rgb(248,245,242,0.6);
	margin-bottom: 30px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.index-content-left{
	float:left;
	margin-left: 60px;
}
.index-content-right{
	float:right;
	margin-right: 60px;
}
.index-content-left, .index-content-right{
	width: 340px;
	min-height:350px;
	padding-right:20px;
	padding-left: 20px;
	background: rgb(233,21,21,0.6);
}

.main-footer{
	padding-top: 60px;
	background: rgb(233,21,21,0.6);
	border:1px solid transparent;
}
.footer-contacts{
	width: 310px;
	float: left;
	margin-right: 90px;
}

.footer-social{
	width: 140px;
	float: left;
	background: rgb(233,21,21,0.6);
}

.footer-copyright{
	width:140px;
	float:right;
	background: rgb(233,21,21,0.6);
}

/*прайс лист*/
.title h2{
	width: 560px;
	font-size: 40px;
	margin:0 auto;
}

.price-container{
	margin-bottom: 60px;
}

.price-left-column, .price-right-column
{
	width: 460px;
	background: rgb(233,21,21,0.6);
	min-height: 220px;
}

.price-left-column{
	float: left;
}

.price-right-column{
	float: left;
	margin-left: 20px;
}